@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "ie10-viewport-bug-workaround";

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #333;
    background-color: transparent;
    text-decoration: underline;
}

/* style links in first column of table only*/
.download-file tr td:first-child a:visited {
    color: #551A8B; /* default visited link purple */
}

.instructions {
	@extend .col-md-4;
	@extend .col-md-push-8;
}

.student-list {
	@extend .col-md-8;
	@extend .col-md-pull-4;
	@extend .list-group;

	li {
	    @extend .list-group-item;
	}
}